.inputsection{
    
    width: 100%;
    margin-top: 2vh;
    
    label{
        font-size: 1.3rem;
        color: white;
    }
    input{
        margin-top: 1.2vh;
        height: 4vh;
        width: 100%;
        margin-bottom: 2vh;
    }
}
